@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* animation global */

@keyframes open-tra {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.fade {
    animation: fade infinite ease-in-out;
}

.fade-in {
    animation: open-tra .2s ease-in;
}

html,
body {
    width: 100%;
    margin: 0%;
    max-height: 100vh;
}

a {
    text-decoration: none;
}

.f-1 {
    display: block;
    width: 100%;
    height: 100vh;
    background-size: cover;
    color: #ececec;
}

.f-1>nav {
    background-color: rgba(26, 26, 26, 40%);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
}

.f-1>nav>div>a,
.f-1>nav {
    font-size: 2rem;
    color: #fff;
}

.f-1>nav>div>.d-flex>* {
    padding: 0px 16px;
}

.f-1>nav>div>a:hover {
    color: #b1b1b1;
}

.f-1>nav>div>div>.nav-item:hover {
    color: #b1b1b1;
}

.f-1>.section {
    width: 100%;
    position: relative;
    top: 20;
}

.f-1>.section>.g1 {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
}

.f-1>.section>.g1>div>h1 {
    font-size: 6.5rem;
    font-weight: bold;
}

.f-1>.section>.g1>div {
    padding: 8px 16px;
    z-index: 99;
}

.f-1>.section>.background {
    position: relative;
    width: 100%;
    max-height: 100vh;
}


.f-1>.section>.background>.langit {
    background-image: url('../assets/background.png');
    background-size: cover;
    height: 100vh;
}

.f-1>.section>.background>.pandangan {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/foreground.png');
    background-size: cover;
    height: 100vh;
}

.f-1>.section>.background>.awan {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('../assets/cloud.png');
    background-size: cover;
    height: 100vh;
    animation: cloud1 12s infinite ease-in-out
}

.f-1>.section>.background>.awan1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('../assets/cloud1.png');
    background-size: cover;
    height: 100vh;
    opacity: 0.25;
}

/* animation - awans */

@keyframes cloud1 {
    0% {
        transform: translateX(0px);
        opacity: 0.8;
    }

    25% {
        transform: translateX(-80px);
        opacity: 0.3;
    }

    50% {
        transform: translateX(0px);
        opacity: 0.8;
    }

    75% {
        transform: translateX(80px);
        opacity: 0.3;
    }

    100% {
        transform: translateX(0px);
        opacity: 0.8;
    }
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
}

#transition {
    display: none;
    width: 500px;
    height: 500px;
    background-color: orange;
    z-index: 9999;
    border-radius: 50%;
}

/* animation - transisi */

@keyframes transition {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(10);
    }
}

#waiting {
    font-size: 7rem;
    font-weight: bold;
}

.f-1>.section>div>.handle-position {
    position: relative;
}

.f-1>.section>div>.handle-position>.btn--start {
    font-weight: 600;
    letter-spacing: 1.3px;
    font-size: 1.5rem;
    text-align: center;
    width: 110%;
    cursor: pointer;
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: #F4C430;
    box-shadow: 5px 10px #F49030;
}

.f-1>.section>div>.btn--start::before {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 14px solid #c86b15;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -30%);
    animation: ring 1.5s infinite;
}

/* animations ring button */

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}