@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html,
body {
    width: 100%;
    margin: 0%;
    max-height: 100vh;
}

a{
    text-decoration: none;
}

.f-1 {
    display: block;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url("/assets/frame-1.png");
    color: #ececec;
}

.f-1>nav {
    background-color: rgba(26, 26, 26, 40%);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
}

.f-1>nav>div>a,
.f-1>nav {
    font-size: 2rem;
    color: #fff;
}

.f-1>nav>div>.d-flex>* {
    padding: 0px 16px;
}

.f-1>nav>div>a:hover{
    color: #b1b1b1;
}

.f-1>nav>div>div>.nav-item:hover{
    color: #b1b1b1;
}

.f-1>.section {
    width: 100%;
    position: relative;
    top: 20;
}

.f-1>.section>.g1{
    height: 100vh;
}



.f-1>.section>.g1>div>h1{
    font-size: 5rem;
    font-weight: bold;
}
